.joinPrivateRoom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.createPrivateRoom {
  width: 100%;
  margin-top: 2vh;
}

.partiesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.partyContainer {
  background-color: #d9d9d9;
  width: 23%;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.partyHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  padding: 10px;
  font-size: 1em;
}

.partyTitle {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.partyUsers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.partyUserCount {
  margin-left: 2%;
  font-weight: bold;
}

.partyThemes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0d21a1;
  padding: 10px;
  font-weight: bold;
  color: #eef0f2;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding-left: 0;
}
