.waitingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.themesList {
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
}

.themesEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.29);
  margin-top: 10px;
  border-radius: 10px;
}

.themesDisplay {
  flex: 1;
  width: 100%;
}

.theme {
  border-radius: 10px;
  border: none;
  padding: 1vh 3vw;
  background-color: #d9d9d9;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  flex: 1;
  margin-right: 5px;
}

.optionList {
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
}

.actionIconButton {
  background-color: #011638;
  width: 4.5vw;
  height: auto;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.actionIconButton:hover {
  filter: brightness(0.8);
}

.themeLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
