@import "../../app/assets/styles/index.scss";

.containerOpenChat {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.buttonOpenChat {
  width: 50px;
  height: 50px;
  color: black;
  font-size: 30px;
  text-align: center;
}

.chat {
  width: 30vw !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin: 10px;
}

.chatFeed {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.chatMessage {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: $fadeRed;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20%;
  border-bottom-left-radius: 0;
  color: #ececec;
}

.selfMessage {
  text-align: right;
  background: $fadeGreen;
  margin-left: 20%;
  margin-right: 0;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
}

.chatMessagePseudo {
  font-family: "Raleway Bold";
  font-size: 1.2em;
}

.chatMessageMessage {
  font-family: "Raleway Light";
  font-size: 1em;
}
