.input {
  border-radius: 10px;
  border: none;
  padding: 1vh 3vw;
  background: #222249;
  border-radius: 20px;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  color: #d4d5ee;
  line-clamp: 50px;
}

.input::-webkit-input-placeholder {
  color: #d4d5ee;
}

.button {
  border-radius: 10px;
  border: none;
  padding: 1vh 3vw;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.8);
}

.primary-button {
  background: #2d3fdd;
  border-radius: 20px;
  color: rgba(238, 240, 242, 1);
  font-family: "Raleway ExtraBold";
  font-size: 25px;
}

.special-button {
  background: #eec643;
  color: #141414;
  font-weight: bold;
  font-size: 25px;
}
