.switchTimer {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
}

.switchTimerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.switchTimerTitle {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.switchTimerDescription {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: start;
}

.switchTimerItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #011638;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
  color: #eef0f2;
  font-weight: bold;
  cursor: pointer;
}

.switchTimerItem:hover {
  filter: brightness(0.8);
}
