@import "../../assets/styles/index.scss";

.joinPrivateRoom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.createPrivateRoom {
  width: 100%;
  margin-top: 2vh;
}

.partiesContainer {
  /* overflow-y: scroll; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  width: 100%;
  /* flex-wrap: wrap; */
  cursor: pointer;
  /* flex: 1 1; */
  max-height: 80vh;
  /* height: 50vh; */
  overflow: auto;
}

.partiesCount {
  color: #2d3fdd;
  font-family: "Raleway Bold";
  font-size: 30px;
  margin-left: 20px;
}

.noPartyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.textNoParty {
  color: #ece9ee;
  opacity: 0.6;
  font-size: 20px;
  font-family: "Raleway Light";
}

.partyContainer {
  background-color: #1c1b3e;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.partySubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.partyTitleContainer {
  width: 15vw;
  padding: 5px;
  background: $menuBackground;
  height: 100%;
  display: flex;
  justify-content: center;
}

.partyTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ece9ee;
  text-transform: uppercase;
  font-family: "Raleway Bold";
}

.partyUsers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2vw;
}

.partyUserCount {
  font-family: "Raleway ExtraBold";
  color: #ece9ee;
  font-size: 30px;
}

.partyUserCountIcon {
  color: #ece9ee;
  opacity: 0.6;
  font-size: 20px;
  margin-left: 0.5vw;
}

.partyThemes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #eef0f2;
  font-size: 1.2em;
  font-family: "Raleway Bold";
  margin-left: 2vw;
}

ul {
  list-style: none;
  padding-left: 0;
}

.tooltipClass {
  font-size: 20px;
  font-family: "Raleway Light";
}
