@import "../../assets/styles/index.scss";

.flash_gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 10vh;
  width: 100%;
  margin-top: 7vh;
}

.flash_score {
  color: #ececec;
  font-family: "Raleway Bold";
  font-size: 30px;
}

.flash_inputContent {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  width: 100%;
}

.flash_buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flash_historyContainer {
  max-height: 37vh;
  overflow-y: auto;
}

.flash_historyWordsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.flash_historyWordsContainer:hover {
  background: #222249;
  border-radius: 20px;
}

.flash_historyWordsWord {
  color: #ececec;
  font-family: "Raleway Medium";
  font-size: 20px;
  margin: 5px;
}

.flash_historyWordsTheme {
  color: #ececec;
  font-family: "Raleway Bold";
  font-size: 20px;
  margin: 5px;
}

.flash_negativeScore {
  color: #ff0000;
  font-family: "Raleway Bold";
  font-size: 20px;
  margin: 5px;
}

.flash_positiveScore {
  color: #00ff00;
  font-family: "Raleway Bold";
  font-size: 20px;
  margin: 5px;
}

.flash_endGame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 10vh;
}

.flash_endGameTitle {
  color: #ececec;
  font-family: "Raleway Bold";
  font-size: 30px;
}

.flash_gameContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.flash_endGameSubTitle {
  color: #ececec84;
  font-family: "Raleway Medium";
  font-size: 15px;
  font-style: italic;
}

.flash_endGameScore {
  color: #ececec;
  font-family: "Raleway Bold";
  font-size: 20px;
}

.flash_reportHistoryContainer {
  display: flex;
  align-items: center;
}

.flash_reportHistoryButton {
  margin-left: 5vw;
  width: 10vw;
}

.flash_reportHistoryButton button {
  width: 100%;
  border-radius: 20px;
}

.flash_validIcon {
  width: 100%;
  text-align: center;
}

.flash_resultsList {
  margin-top: 5vh;
  text-align: left;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}

.flash_resultCell {
  color: #ececec;
  font-family: "Raleway Medium";
  font-size: 20px;
}

.flash_multiColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.flash_columnCell {
  margin-bottom: 5vh;
}

.flash_columnCellTitle {
  color: #ececec;
  font-family: "Raleway ExtraBold";
  font-size: 20px;
  text-align: left;
}

.flash_tableHeader th {
  color: #ececec;
  font-family: "Raleway Black";
  font-size: 20px;
  text-align: left;
  margin-top: 5px;
}

.flash_columnCellValue {
  color: #ececec;
  font-family: "Raleway Medium";
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
}

.flash_skippedTable {
  font-style: italic;
  color: #949494aa;
}

.flash_shareResultContainer {
  margin-top: 5vh;
}

.flash_title {
  color: #ececec;
  font-family: "Raleway Bold";
  font-size: 30px;
}

.flash_description {
  color: #ececec;
  font-family: "Raleway Medium";
  font-size: 20px;
}

.flash_themeHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.flash_progressGame {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.flash_progressGameText {
  font-size: 15px;
  margin-bottom: 5px;
}

.flash_progressGameBar {
  border-radius: 20px;
  height: 20px;
}

.flash_rowSkipedWord {
  font-style: italic;
  color: #949494aa;
}

.flash_themeMaj {
  font-family: "Raleway Regular";
}

.flash_themeMin {
  font-family: "Raleway Thin";
  font-size: 20px;
}

.flash_resultRowHidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.flash_resultCellDetails {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
}

.flash_resultDetails {
  font-size: 15px;
  margin-bottom: 5px;
}

.flash_resultCellDetails th {
  font-family: "Raleway Bold";
  opacity: 0.8;
  color: #ececec;
}

.flash_resultCellDetails td {
  opacity: 0.7;
  font-family: "Raleway Thin";
  color: #ececec;
}
